/* Address Book List */

#address-books {
  padding-left: 0;
  font-size: 1rem;
  user-select: none;
}

#address-books > li::before {
  font: var(--fa-font-solid);
  content: "\f2b9";
  margin-right: 0.4rem;
}

#address-books > li {
  display: block;
  padding-block: 0.5rem;
  transition: color 0.2s;
}

#address-books > li[data-address-book="all-contacts"] {
  border-bottom: 0.2rem solid var(--catman-foreground);
}

#address-books > li.selected {
  color: var(--catman-highlight);
}

#address-books > li:hover {
  color: var(--catman-hover);
}
