/* Contact Row */

#contacts > ul {
  padding: 0;
  margin: 0;
}

#contacts > ul > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contact-row {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.contact-row > p {
  margin: 0;
}

.contact-row__name {
  font-size: 1.05rem;
  font-weight: bold;
}

.contact-row__email {
  font-size: 0.95rem;
}

.contact-row__email .no-email {
  color: orangered;
}
