/* Grid layout */

#container {
  display: grid;
  /* TODO: determine the max width of tree view in JS. use 15rem for now */
  grid-template-columns: auto 15rem 14rem;
  grid-template-rows: 2rem auto auto;
  gap: 0.5rem 2rem;
  grid-template-areas:
    "header header header"
    "address-books category-tree contacts"
    "info category-tree contacts";
  /* No idea why `calc(100vh - 2rem)` doesn't work */
  height: calc(600px - 2rem);
  color: var(--catman-foreground);
}

#address-books {
  grid-area: address-books;
  overflow: auto;
  margin: 0;
}

#tree {
  grid-area: category-tree;
  user-select: none;
  overflow: auto;
}

#contacts {
  grid-area: contacts;
  position: relative;
  overflow: auto;
}

#category-title {
  grid-area: header;
  margin: 0;
  font-size: 1rem;
  text-align: right;
  line-height: 2rem;
  background: var(--catman-background);
}

#info {
  grid-area: info;
  display: flex;
  flex-direction: row;
}

#spinner {
  align-self: flex-end;
  display: none;
  align-items: center;
}

#spinner.show {
  display: flex;
}

#spinner-icon {
  background-image: url("../images/Pulse-96px.gif");
  background-size: contain;
  height: 48px;
  width: 48px;
}

#spinner-text {
  font-size: 1.3rem;
}

/* Text when no address book is available */
#info-text {
  display: none;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
