/* Grid layout */

#container {
  display: grid;
  /* TODO: determin the max width of tree view in JS. use 15rem for now */
  grid-template-columns: auto 15rem 14rem;
  grid-template-rows: 2rem auto;
  gap: 0.5rem 2rem;
  /* No idea why `calc(100vh - 2rem)` doesn't work */
  height: calc(600px - 2rem);
}

#address-books {
  grid-column: 1;
  grid-row: 2;
  overflow: scroll;
}

#tree {
  grid-column: 2;
  grid-row: 2;
  user-select: none;
  overflow: scroll;
}

#contacts {
  grid-column: 3;
  grid-row: 2;
  grid-row-end: 3;
  position: relative;
  overflow: scroll;
}

#category-title {
  grid-column: 2;
  grid-row: 1;
  grid-column-end: 4;
  margin: 0;
  font-size: 1rem;
  text-align: right;
  line-height: 2rem;
  background: var(--catman-background);
}

#actions {
  grid-row: 1;
  grid-column: 1;
}

/* Action button style */

.action-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1rem;
}

.action-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.action-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.action-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/* Contact Row */

#contacts > ul {
  padding: 0;
  margin: 0;
}

#contacts > ul > li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contact-row {
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.contact-row > p {
  margin: 0;
}

.contact-row__name {
  font-size: 1.05rem;
  font-weight: bold;
}

.contact-row__email {
  font-size: 0.95rem;
}

/* Tree component */

#tree > summary {
  display: block;
  cursor: pointer;
  outline: 0;
}

.tree-nav__item {
  display: block;
  white-space: nowrap;
  color: #ccc;
  position: relative;
}

.tree-nav__item.is-expandable::before {
  /* vertical line */
  border-left: 1px solid #333;
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 2rem;
  height: calc(100% - 2rem);
}

.tree-nav__item > p.tree-nav__item-title {
  /* Leaf element */
  display: inline;
  line-height: 2rem;
}

.tree-nav__item > p.tree-nav__item-title::before {
  /* Leaf element marker */
  position: absolute;
  color: var(--catman-foreground);
  display: inline-block;
  font: var(--fa-font-regular);
  content: "\f111";
  text-align: center;
  top: 0.5rem;
  left: 0.5rem;
}

.tree-nav__item .tree-nav__item {
  margin-left: 2rem;
}

.tree-nav__item.is-expandable[open]
  > .tree-nav__item-title
  > .tree-nav__expander {
  /* rotate the icon on expand */
  transform: rotate(90deg);
}

.tree-nav__item > .tree-nav__item-title {
  padding-left: 2rem;
}

.tree-nav__item.is-expandable > .tree-nav__item-title > .tree-nav__expander {
  /* icon: expand */
  position: absolute;
  will-change: transform;
  transition: transform 300ms ease;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  top: 0;
  left: 0;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}

.tree-nav__item-title {
  cursor: pointer;
  display: block;
  outline: 0;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
}

/* Address Book List */

#address-books {
  padding-left: 0;
  font-size: 1rem;
  user-select: none;
}

#address-books > li::before {
  font: var(--fa-font-solid);
  content: "\f2b9";
  margin-right: 0.4rem;
}

#address-books > li {
  display: block;
  padding-block: 0.5rem;
  transition: color 0.2s;
}

#address-books > li.selected {
  color: aqua;
}

#address-books > li:hover {
  color: dodgerblue;
}
