.popup-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 60px;
  padding: 10px;
}

#container {
  display: grid;
  grid-template-columns: auto 1fr;
}

#tree {
  grid-column: 1;
  width: 300px;
}

#contacts {
  grid-column: 2;
}

/* Tree component */

summary {
  display: block;
  cursor: pointer;
  outline: 0;
}

.tree-nav__item {
  display: block;
  white-space: nowrap;
  color: #ccc;
  position: relative;
}

.tree-nav__item.is-expandable::before {
  border-left: 1px solid #333;
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 2.4rem;
  height: calc(100% - 2.4rem);
}

.tree-nav__item > p.tree-nav__item-title {
  display: inline;
  line-height: 2rem;
}

.tree-nav__item > p.tree-nav__item-title > i{
  position: absolute;
  will-change: transform;
  transition: transform 300ms ease;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  top: 0.5rem;
  left: 0.5rem;
}

.tree-nav__item .tree-nav__item {
  margin-left: 2rem;
}

.tree-nav__item.is-expandable[open] > .tree-nav__item-title::before {
  transform: rotate(90deg);
}

.tree-nav__item > .tree-nav__item-title {
  padding-left: 2rem;
}

.tree-nav__item.is-expandable > .tree-nav__item-title::before {
  position: absolute;
  will-change: transform;
  transition: transform 300ms ease;
  font: var(--fa-font-solid);
  color: #fff;
  font-size: 1rem;
  content: "\f054";
  display: inline-block;
  text-align: center;
  top: 0.5rem;
  left: 0.5rem;
}

.tree-nav__item-title {
  cursor: pointer;
  display: block;
  outline: 0;
  color: #fff;
  font-size: 1rem;
  line-height: 2rem;
}
