/* Global style sheet */

html {
  font-size: 16px;
}

body {
  background-color: var(--catman-background);
  color: var(--catman-foreground);
  font-family: arial;
  margin: 0;
  padding: 1rem;
}

:root {
  --catman-background: #191c1e;
  --catman-foreground: white;
}
